In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings

In [2]:
#Reading the data
read_data=pd.read_excel('C:\\Users\\user\\ashish\\project_2\\CO2_Emissions.xlsx',sheet_name='GHG_by_sector_and_country')

In [3]:
read_data.head(2)

,Substance,Sector,EDGAR Country Code,Country,1970,1971,1972,1973,1974,1975,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,CO2,Agriculture,AFG,Afghanistan,0.029229,0.029229,0.029229,0.029229,0.039967,0.045310,...,0.084490,0.116967,0.163009,0.311300,0.161333,0.151276,0.064795,0.046692,0.023617,0.015142
1,CO2,Agriculture,ALB,Albania,0.113300,0.113300,0.113300,0.113300,0.113614,0.112514,...,0.053481,0.056519,0.047405,0.054162,0.046462,0.066419,0.060552,0.048348,0.048536,0.048955

In [4]:
# Checking for null values
read_data.isnull().sum()

Substance              0
Sector                 0
EDGAR Country Code     0
Country                0
1970                  51
1971                  51
1972                  50
1973                  46
1974                  47
1975                  45
1976                  41
1977                  40
1978                  37
1979                  37
1980                  48
1981                  49
1982                  50
1983                  47
1984                  48
1985                  49
1986                  47
1987                  47
1988                  48
1989                  49
1990                  45
1991                  48
1992                  50
1993                  41
1994                  53
1995                  50
1996                  46
1997                  45
1998                  66
1999                  67
2000                  68
2001                  67
2002                  68
2003                  62
2004                  48
2005                  46
2006                  50
2007                  49
2008                  51
2009                  46
2010                  45
2011                  43
2012                  39
2013                  50
2014                  50
2015                  48
2016                  49
2017                  48
2018                  51
2019                  49
2020                  49
2021                  47
2022                  46
2023                  47
dtype: int64

In [5]:
#Reading the Column names
lst=read_data.columns

In [6]:
#Removing Null values
for i in lst:
        if read_data[i].isnull().sum()>0:
            x=read_data[i].median()
            read_data[i]=read_data[i].fillna(x)

In [7]:
# Checking for null values
read_data.isnull().sum()

Substance             0
Sector                0
EDGAR Country Code    0
Country               0
1970                  0
1971                  0
1972                  0
1973                  0
1974                  0
1975                  0
1976                  0
1977                  0
1978                  0
1979                  0
1980                  0
1981                  0
1982                  0
1983                  0
1984                  0
1985                  0
1986                  0
1987                  0
1988                  0
1989                  0
1990                  0
1991                  0
1992                  0
1993                  0
1994                  0
1995                  0
1996                  0
1997                  0
1998                  0
1999                  0
2000                  0
2001                  0
2002                  0
2003                  0
2004                  0
2005                  0
2006                  0
2007                  0
2008                  0
2009                  0
2010                  0
2011                  0
2012                  0
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
2018                  0
2019                  0
2020                  0
2021                  0
2022                  0
2023                  0
dtype: int64

In [8]:
read_data['Total']=read_data[lst[4:]].sum()
lst[4:]
sum(read_data[lst[4:]])

107811

In [9]:
def sums(row):
    add=np.sum(row[4:])
    #print(add)
    #print(np.sum(row[4:]))                #[4:]
    return add

In [10]:
read_data['Total']=read_data.apply(sums,axis=1)

In [11]:
read_data['Total']

0           8.655044
1           4.408967
2          38.566196
3           3.346120
4          64.737930
            ...
1455    32679.579758
1456    62401.925707
1457    12829.741873
1458    35687.649939
1459      314.436261
Name: Total, Length: 1460, dtype: float64

In [13]:
with pd.ExcelWriter('co2_emmision.xlsx') as writer:
    read_data.to_excel(writer,sheet_name="movie data",index=False)